body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 5px;
  padding: 10px;
  z-index: 999;
}

nav a {
  color: #e6e6e6;
  text-decoration: none;
  font-size: 1.5em;
  text-shadow: 2px 2px black;
  transition: color 0.2s, font-size 0.2s;
  display: inline-flex;
  align-items: center;
  height: 32px;
  width: 100px;
  margin: 5px 10px;
  float: left;
}

nav a:hover {
  color: #d6d6d6;
  font-size: 1.7em;
}

nav a:visited, nav a:active {
  color: #c7c7c7;;
}

nav .nav-text {
  font-family: 'Roboto', sans-serif;
  font-size: 70%;
  vertical-align: middle;
  margin-left: 10px;
}

section {
  min-height: 100vh;
  padding: 30px;
  text-align: center;
  overflow: hidden;
  height: auto;
}

section.home {
  background-image: url("../img/logo_transparent_text.png");
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #1a1919;
}

section.about {
  background-image: url("../img/ripping_chute.jpg");
  background-size: cover;
}

section.about p {
  text-shadow: 2px 2px white;
}

section.brands {
  background-color: #1a1919;
  color: #c7c7c7;
}

section.news {
  background-image: url("../img/skatepark.jpg");
  background-size: cover;
}

.marker {
  font-family: 'Permanent Marker', cursive;
}

.big {
  font-size: 4em;
}

.medium {
  font-size: 2em;
}

.hot {
  color: hotpink;
  text-shadow: 2px 2px black;
}

.brand-grid {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: minmax(min-content, max-content);
  grid-column-gap: 20px;
}

.brand-logo {
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: initial;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.brand-logo img {
  max-width: 100%;
  max-height: 100%;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  width: 20px;
}
blockquote p {
  display: inline;
}
